@font-face {
    font-family: Sora;
    src: url(./src/Sora-VariableFont_wght.ttf);
}
:root {
    /* yellow color */
    --yellow-400: #F4DC73;
    /* green color */
    --green-500: #4DD67B;
    /* red color */
    --red-500: rgba(214, 77, 91, 1);
    --red-600: rgba(255, 0, 0, 0.1);
    /* blue colors */
    --blue-400: #4CA6FF;
    --blue-600: #177DFF;
    /* neutral colors */
    --neutral-0: #FFFFFF;
    --neutral-400: #949497;
    --neutral-500: #717178;
    --neutral-700: #3a3a3a;
    --neutral-800: rgba(38, 38, 38, 0.5);
    --neutral-900: #121212;
    /* font-size */
    --text-preset-1: 32px;
    --text-preset-2: 24px;
    --text-preset-3: 16px;
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(12, 72px);
    justify-content: center;
    gap: 32px;
    z-index: -1;
}
.items {
    background-color: var(--red-600);
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    position: relative;
    color: var(--neutral-400);
    box-sizing: border-box;
    padding: 16px;
    padding-bottom: 32px;
    background-color: var(--neutral-900);
    font-family: Sora;
}
.border-t {
    border-top: 1px solid var(--neutral-700);
}
.border-b {
    border-bottom: 1px solid var(--neutral-700);
}
.stat {
    gap: 20px;
}
.divider {
    padding: 1px;
    width: 1px;
    height: 8vh;
    background-color: var(--neutral-700);
}
.content {
    padding-top: 32px;
    padding-bottom: 32px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-16 {
    padding-bottom: 16px;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-level {
    border: none;
}
header {
    margin-bottom: 32px;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 24px;
}
.btn-restart {
    cursor: pointer;
    width: 52vw;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    line-height: 100%;
    padding: 10px 16px;
    color: var(--neutral-0);
    border-radius: 12px;
    background-color: var(--neutral-800);
    border: none;
}
.btn-restart:hover {
    background-color: var(--neutral-700);
}
.choice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.gap-1 {
    gap: 10px;
}
.gap-2 {
    gap: 2vw;
}
.config {
    padding-bottom: 16px;
}
.stat-gap {
    gap: 8px;
}
.text-white {
    color: var(--neutral-0);
}
.text-red {
    color: var(--red-500);
}
.text-yellow {
    color: var(--yellow-400);
}
.bold {
    font-weight: bold;
    line-height: 120%!important;
    letter-spacing: 0.32px!important;
}
.size-preset-1 {
    font-size: var(--text-preset-1);
    line-height: 120%;
}
.size-preset-1 {
    font-size: var(--text-preset-1);
    line-height: 136%;
    letter-spacing: 0.4px;
}
.size-preset-1-bold {
    font-size: var(--text-preset-1-bold);
    line-height: 120%;
    letter-spacing: 0.32px;
}
.size-preset-2 {
    font-size: var(--text-preset-2);
    line-height: 100%;
    letter-spacing: 0px;
}
.size-preset-3 {
    font-size: var(--text-preset-3);
    line-height: 120%;
    letter-spacing: -0.48px;
}
select {
    background-color: inherit;
    color: var(--neutral-0);
    padding: 6px 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--neutral-400);
    cursor: pointer;
}
option {
    text-align: center;
    background-color: var(--neutral-900);
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-none {
    display: none;
}