@font-face {
    font-family: Sora;
    src: url(./asseat/font/Sora-VariableFont_wght.ttf);
}
:root {
    /* yellow color */
    --yellow-400: #F4DC73;
    /* green color */
    --green-500: #4DD67B;
    --charcoal-brown: #3F4531;
    /* red color */
    --red-500: rgba(214, 77, 91, 1);
    --red-600: rgba(255, 0, 0, 0.1);
    /* blue colors */
    --blue-400: #4CA6FF;
    --blue-600: #177DFF;
    /* neutral colors */
    --neutral-0: #FFFFFF;
    --neutral-400: #949497;
    --neutral-500: #717178;
    --neutral-700: #3a3a3a;
    --neutral-800: rgba(38, 38, 38, 0.5);
    --neutral-900: #121212;
    /* font-size */
    --text-preset-1: 32px;
    --text-preset-2: 24px;
    --text-preset-3: 20px;
    --text-preset-5: 16px;
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(12, 72px);
    justify-content: center;
    gap: 32px;
    z-index: -1;
}
.items {
    background-color: var(--red-600);
}
.icon-circle {
    width: 84px;
    height: 84px;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    position: relative;
    color: var(--neutral-400);
    box-sizing: border-box;
    padding: 16px;
    padding-bottom: 32px;
    background-color: var(--neutral-900);
    font-family: Sora;
    box-sizing: border-box;
}
button {
    cursor: pointer;
    border: none;
    background: inherit;
    color: var(--neutral-400);
    padding: 6px 10px;
    border-radius: 8px;
    text-transform: capitalize;
    color: var(--neutral-0);
    font-size: var(--text-preset-5);
}
.border {
    border: 1px solid var(--neutral-700)!important;
}
.border-blue-400 {
    border-color: var(--blue-400)!important;
    color: var(--blue-400);
}
.border-t {
    border-top: 1px solid var(--neutral-700);
}
.border-b {
    border-bottom: 1px solid var(--neutral-700);
}
.stat {
    gap: 20px;
}
.capitalize-mobile {
    text-transform: capitalize;
}
.divider {
    padding: 0.5px;
    width: 0.5px;
    height: 51px;
    background-color: var(--neutral-700);
}
.content {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}
.pointer {
    width: 2vw;
    height: 1vh;
    background-color: var(--charcoal-brown);
    color: var(--neutral-0)!important;
    border-radius: 4px;
    padding: 1px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-16 {
    padding-bottom: 16px!important;
}
.mr-12 {
    margin-right: 12px!important;
}
.mr-16 {
    margin-right: 16px!important;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.card {
    border: 1px solid var(--neutral-700);
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 12px;
    border-radius: 8px;
}
.btn-level {
    border: none;
}
header {
    margin-bottom: 32px;
}
footer {
    width: 100%;
    padding-top: 24px;
}
.btn-restart {
    cursor: pointer;
    width: 181px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    line-height: 100%;
    padding: 10px 16px;
    color: var(--neutral-0);
    border-radius: 12px;
    background-color: var(--neutral-800);
    border: none;
}
.btn-restart:hover {
    background-color: var(--neutral-700);
}
.choice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.text-center {
    text-align: center;
}
.mt-2 {
    margin-top: 2vh;
}
.gap-1 {
    gap: 10px;
}
.gap-2 {
    gap: 2vw;
}
.gap-17 {
    gap: 17px;
}
.gap-24 {
    gap: 24px;
}
.config {
    padding-bottom: 16px;
}
.stat-gap {
    gap: 8px;
}
.text-white {
    color: var(--neutral-0);
}
.text-green {
    color: var(--green-500);
}
.text-red {
    color: var(--red-500);
}
.text-yellow {
    color: var(--yellow-400);
}
.bold {
    font-weight: bold;
    line-height: 120%!important;
    letter-spacing: 0.32px!important;
}
.size-preset-1 {
    font-size: var(--text-preset-1)!important;
    line-height: 120%!important;
    letter-spacing: 0.32px!important;
}
.size-preset-1-bold {
    font-size: var(--text-preset-1-bold)!important;
    line-height: 120%!important;
    letter-spacing: 0.32px!important;
}
.size-preset-2 {
    font-size: var(--text-preset-2)!important;
    line-height: 100%!important;
    letter-spacing: 0px!important;
}
.size-preset-3 {
    font-size: var(--text-preset-3)!important;
    line-height: 120%!important;
    letter-spacing: -0.48px!important;
}
.size-preset-5 {
    font-size: var(--text-preset-5)!important;
    line-height: 120%!important;
    letter-spacing: -0.48px!important;
}
.arrow-icon {
    width: 10px;
    height: 10px;
    background: url(./asseat/Easy\ Label.svg) center no-repeat;
}
select {
    width: 100%;
    border-radius: 8px;
    color: var(--neutral-0);
    padding: 6px 10px;
    border: 1px solid var(--neutral-400);
    cursor: pointer;
    background-color: transparent;
    text-align: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-stat {
    display: flex;
    flex-direction: column;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}
.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    :root {
        --text-preset-1: 40px;
    }
    body {
        padding: 32px;
        padding-bottom: 40px;
    }
    .flex-start {
        display: flex!important;
    }
    .capitalize-mobile {
        text-transform: none;
    }
    .desktop {
        display: block;
    }
    span.desktop {
        display: inline;
    }
    .mobile {
        display: none;
    }
    .config {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .stat {
        justify-content: flex-start;
        gap: 25px;
    }
    .flex-stat {
        flex-direction: row;
    }
    .divider {
        height: 24px;
    }
}
@media screen and (min-width: 1440px) {
    :root {
        --text-preset-1: 40px;
    }
    body {
        padding: 112px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    .flex-start {
        display: flex!important;
    }
    .flex-stat {
        flex-direction: row;
    }
    .divider {
        height: 24px;
    }
    .config {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}