@font-face {
    font-family: Sora;
    src: url(./asseat/font/Sora-VariableFont_wght.ttf);
}
:root {
    /* yellow color */
    --yellow-400: #F4DC73;
    /* green color */
    --green-500: #4DD67B;
    --charcoal-brown: #3F4531;
    --effet-glace: rgba(255, 255, 255, 0.1);
    /* red color */
    --red-500: rgba(214, 77, 91, 1);
    --red-600: rgba(255, 0, 0, 0.1);
    /* blue colors */
    --blue-400: #4CA6FF;
    --blue-600: #177DFF;
    /* neutral colors */
    --neutral-0: #FFFFFF;
    --neutral-400: #949497;
    --neutral-500: #717178;
    --neutral-700: #3a3a3a;
    --neutral-800: rgba(38, 38, 38, 0.5);
    --neutral-900: #121212;
    /* font-size */
    --text-preset-1: 32px;
    --text-preset-2: 24px;
    --text-preset-3: 20px;
    --text-preset-5: 16px;
}
.testComplete {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 0 0 32px rgba(77, 214, 123, 0.1), 0 0 0 16px rgba(77, 214, 123, 0.2);
}
.bestScore {
    display: none;
}
.resultat {
    padding-top: 10px;
    padding-bottom: 10px;
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(12, 72px);
    justify-content: center;
    gap: 32px;
    z-index: -1;
}
.items {
    background-color: var(--red-600);
}
.icon-circle {
    width: 84px;
    height: 84px;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    position: relative;
    color: var(--neutral-400);
    box-sizing: border-box;
    padding: 16px;
    padding-bottom: 32px;
    background-color: var(--neutral-900);
    font-family: Sora;
    box-sizing: border-box;
}
button {
    cursor: pointer;
    border: none;
    background: inherit;
    color: var(--neutral-400);
    padding: 6px 10px;
    border-radius: 8px;
    text-transform: capitalize;
    color: var(--neutral-0);
    font-size: var(--text-preset-5);
}
.border {
    border: 1px solid var(--neutral-700)!important;
}
.border-blue-400 {
    border-color: var(--blue-400)!important;
    color: var(--blue-400);
}
.border-t {
    border-top: 1px solid var(--neutral-700);
}
.border-b {
    border-bottom: 1px solid var(--neutral-700);
}
.stat {
    gap: 20px;
}
.capitalize-mobile {
    text-transform: capitalize;
}
.divider {
    padding: 0.5px;
    width: 0.5px;
    height: 51px;
    background-color: var(--neutral-700);
}
.content {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}
.effet-blur {
    filter: blur(4px);
}
.blur {
    position: relative;
}
.container-start {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer {
    width: 2vw;
    height: 1vh;
    background-color: var(--charcoal-brown);
    color: var(--neutral-0)!important;
    border-radius: 4px;
    padding: 1px;
}
.p-2 {
    padding: 2em;
}
.pt-20 {
    padding-top: 20px;
}
.pb-16 {
    padding-bottom: 16px!important;
}
.mr-12 {
    margin-right: 12px!important;
}
.mr-16 {
    margin-right: 16px!important;
}
.mb-16 {
    margin-bottom: 16px!important;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.card {
    border: 1px solid var(--neutral-700);
    padding: 16px;
    height: 92px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 12px;
    border-radius: 8px;
    box-sizing: border-box;
}
.btn-level {
    border: none;
}
.btn-start {
    width: 216px;
    height: 56px;
    background-color: var(--blue-600);
    font-size: var(--text-preset-3);
    line-height: 120%;
    letter-spacing: -0.3px;
    padding: 16px 24px;
    border-radius: 12px!important;
}
.btn-d:hover, .btn-mode:hover {
    border: 1px solid var(--blue-400)!important;
}
.btn-start:focus {
    box-shadow: 0 0 0 3px var(--neutral-900), 0 0 0 5px var(--blue-400);
}
.btn-start:hover {
    background-color: var(--blue-400);
}
header {
    margin-bottom: 32px;
}
footer {
    width: 100%;
    padding-top: 24px;
}
.btn-restart {
    cursor: pointer;
    width: 181px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    line-height: 100%;
    padding: 10px 16px;
    color: var(--neutral-0);
    border-radius: 12px;
    background-color: var(--neutral-800);
    border: none;
}
.btn-restart:hover {
    background-color: var(--neutral-700);
}
.choice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
}
.level {
    display: flex;
    justify-content: flex-start;
}
.mode {
    display: flex;
    justify-content: flex-end;
}
.text-center {
    text-align: center;
}
.mt-2 {
    margin-top: 2vh;
}
.gap-1 {
    gap: 10px;
}
.gap-2 {
    gap: 2vw;
}
.gap-17 {
    gap: 17px;
}
.gap-24 {
    gap: 24px;
}
.gap-36 {
    gap: 36px;
}
.config {
    padding-bottom: 16px;
}
.stat-gap {
    gap: 8px;
}
.text-white {
    color: var(--neutral-0);
}
.text-green {
    color: var(--green-500);
}
.text-red {
    color: var(--red-500);
}
.text-yellow {
    color: var(--yellow-400);
}
.bold {
    font-weight: bold;
    line-height: 120%!important;
    letter-spacing: 0.32px!important;
}
.size-preset-1 {
    font-size: var(--text-preset-1)!important;
    line-height: 120%!important;
    letter-spacing: 0.32px!important;
}
.size-preset-1-bold {
    font-size: var(--text-preset-1-bold)!important;
    line-height: 120%!important;
    letter-spacing: 0.32px!important;
}
.size-preset-2 {
    font-size: var(--text-preset-2)!important;
    line-height: 100%!important;
    letter-spacing: 0px!important;
}
.size-preset-3 {
    font-size: var(--text-preset-3)!important;
    line-height: 120%!important;
    letter-spacing: -0.48px!important;
}
.size-preset-5 {
    font-size: var(--text-preset-5)!important;
    line-height: 120%!important;
    letter-spacing: -0.48px!important;
}
.arrow-icon {
    width: 10px;
    height: 10px;
    background: url(./asseat/Easy\ Label.svg) center no-repeat;
}
.selected {
    width: 166.5px;
    height: 32px;
    border: 1px solid var(--neutral-400);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--neutral-0);
    cursor: pointer;
}
.selected-active {
    transform: rotateX(180deg);
}
.input-choice {
    position: relative;
    max-width: 166.5px;
}
.option {
    width: 100%;
    position: absolute;
    top: 50px;
    background: var(--effet-glace);
    backdrop-filter: blur(10px) brightness(1);
    -webkit-backdrop-filter: blur(10px) brightness(1);
    border-radius: 8px;
    padding-bottom: 5px;
    box-sizing: border-box;
    color: var(--neutral-0);
    display: none;
    flex-direction: column;
    gap: 4px;
    z-index: 4;
}
.option > div {
    display: flex;
    align-items: start;
    gap: 6px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    border-top: 1px solid var(--neutral-400);
}
.option > div:first-child {
    border-top: none;
}
input[type="radio"] {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--neutral-0);
}
input[type="radio"]:focus, input[type="radio"]:checked {
    border: none;
    background-color: var(--blue-400);
}
input[type="radio"]:focus::after, input[type="radio"]:checked::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--neutral-900);
}
label > svg {
    stroke: var(--neutral-0);
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-stat {
    display: flex;
    flex-direction: column;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}
.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.center-y {
    display: flex;
    align-items: center;
}
.desktop {
    display: none;
}
.display-none {
    display: none!important;
}

.align-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    :root {
        --text-preset-1: 40px;
    }
    .card {
        width: 221.33px;
    }
    .align-card {
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 32px;
    }
    body {
        padding: 32px;
        padding-bottom: 40px;
    }
    .flex-start {
        display: flex!important;
    }
    .capitalize-mobile {
        text-transform: none;
    }
    .desktop {
        display: block;
    }
    span.desktop {
        display: inline;
    }
    .mobile {
        display: none;
    }
    .config {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .stat {
        justify-content: flex-start;
        gap: 25px;
    }
    .flex-stat {
        flex-direction: row;
    }
    .divider {
        height: 24px;
    }
}
@media screen and (min-width: 1025px) {
    :root {
        --text-preset-1: 40px;
    }
    .card {
        width: 160px;
    }
    .align-card {
        justify-content: center;
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 32px;
    }
    body {
        padding: 112px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    .flex-start {
        display: flex!important;
    }
    .flex-stat {
        flex-direction: row;
    }
    .divider {
        height: 24px;
    }
    .config {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}